{% extends 'base.html'%}


{% block title %} {{ title }} {% endblock %}

{% block body %}   
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Добавление нового лектора</h4>
                            
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">Jan 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-primary">
                                <i data-feather="download" class="align-self-center icon-xs"></i>
                            </a>
                        </div><!--end col-->  
                    </div><!--end row-->                                                              
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->
        <form action="" method="post" enctype="multipart/form-data">

                        <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Внесите данные лектора</h4>
                                    <p class="text-muted mb-0">Внесите данные для добавления лектора в базу</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <form class="">
                                        <div class="row">
                                            
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Фамилия</label>
                                                    <input type="text" name='surname' class="form-control" id="surname" required="">
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Имя</label>
                                                    <input type="text" name='lastname'class="form-control" id="lastname" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Отчество</label>
                                                    <input type="text" name='middlename'class="form-control" id="middlename" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">Телефон</label>
                                                    <input type="tel" name='tel' class="form-control" id="subject" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="useremail">E-mail</label>
                                                    <input type="email" name='email' class="form-control" id="email" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">Город проживания</label>
                                                    <input type="text" name='city'class="form-control" id="city" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Серия и номер паспорта</label>
                                                    <input type="text" name='passport_number'class="form-control" id="passport_number" required="">
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Дата выдачи</label>
                                                    <input type="date" name='issued'class="form-control" id="issued" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Когда и кем выдан</label>
                                                    <input type="text" name='passport_who'class="form-control" id="passport_who" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Адрес проживания</label>
                                                    <input type="text" name='adress'class="form-control" id="adress" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">Дата рождения</label>
                                                    <input type="date" name='birthday'class="form-control" id="birthday" required="">
                                                </div>
                                            </div>

                                            



                                        </div>
                                        
                                    
                                </div><!--end card-body-->
                            </div><!--end card-->

                            </div> <!-- end col -->

                            <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Данные договора</h4>
                                    <p class="text-muted mb-0">Внимательно внесите данные в базу</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    
                                        <div class="row">
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">Номер договора</label>
                                                    <input type="text" name='agreement_number' class="form-control" id="agreement_number" required="">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="useremail">Дата заключения договора</label>
                                                    <input type="date" name='created_at' class="form-control" id="created_at" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">Место и адрес работы</label>
                                                    <input type="text" name='work'class="form-control" id="work" required="">
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <select class="form-control" name='rang'>
                                                    <option>Ранг КОЛа</option>
                                                    <option>Локальный</option>
                                                    <option>Региональный</option>
                                                    <option>Национальный</option>
                                                </select>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <!-- <label>Файл договора</label> -->
                                                    <div class="custom-file">
                                                      <input type="file" class="custom-file-input" name="image" id="image">
                                                      <label class="custom-file-label" for="image">Выберите файл договора...</label>
                                                    </div>
                                                  </div>
                                                </div>

                                        </div>

                                        <!-- <div class="form-group row">

                                            <div class="col-lg-4">
                                                <div class="custom-control custom-switch switch-primary">
                                                    <input type="checkbox" name='status'class="custom-control-input" id="status" checked>
                                                    <label class="custom-control-label" for="customSwitchPrimary">Активный</label>
                                                </div>
                                            </div> -->
                                            
                                            
                                        <!-- </div>--> 

                                        

                                    
                                </div><!--end card-body-->
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-xl">Отправить</button>
                        </form>
                                    </div>

    </div><!-- container -->
{% endblock %}
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

</html>