{% extends 'base.html'%}


{% block title %} {{ title }} {% endblock %}

{% block body %}   

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning" role='alert'>
    {%for message in messages%}
        {{message}} <br>
    {%endfor%}
</div>
{% endif %}
{% endwith %}

<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Добавление нового лектора</h4>
                            
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">Jan 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-primary">
                                <i data-feather="download" class="align-self-center icon-xs"></i>
                            </a>
                        </div><!--end col-->  
                    </div><!--end row-->                                                              
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->
        <form action="{{ url_for('lector.add_lector_process') }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

                        <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Внесите данные лектора</h4>
                                    <p class="text-muted mb-0">Внесите данные для добавления лектора в базу</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <form class="">
                                        <div class="row">
                                            
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.lastname.label}}</label>
                                                    {{ form.lastname (class="form-control")}}
                                                </div>
                                            </div>

                                            


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.name.label}}</label>
                                                    {{ form.name(class="form-control") }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.middlename.label}}</label>
                                                    {{ form.middlename(class="form-control") }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">{{form.tel.label}}</label>
                                                    {{ form.tel(class="form-control") }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="useremail">{{form.email.label}}</label>
                                                    {{ form.email(class="form-control") }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">{{form.city.label}}</label>
                                                    {{ form.city(class="form-control") }} 
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.passport_number.label}}</label>
                                                    {{ form.passport_number(class="form-control") }} 
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.issued.label}}</label>
                                                    {{ form.issued(class="form-control") }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.passport_who.label}}</label>
                                                    {{ form.passport_who(class="form-control") }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.adress.label}}</label>
                                                    {{ form.adress(class="form-control") }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">{{form.birthday.label}}</label>
                                                    {{ form.birthday(class="form-control") }}
                                                </div>
                                            </div>

                                            



                                        </div>
                                        
                                    
                                </div><!--end card-body-->
                            </div><!--end card-->

                            </div> <!-- end col -->

                            <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Данные договора</h4>
                                    <p class="text-muted mb-0">Внимательно внесите данные в базу</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    
                                        <div class="row">
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">{{form.agreement_number.label}}</label>
                                                    {{form.agreement_number(class="form-control")}}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="useremail">{{form.created_at.label}}</label>
                                                    {{form.created_at(class="form-control")}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="subject">{{form.work.label}}</label>
                                                    {{form.work(class="form-control")}}
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <select>
                                                    {{form.rang(class="form-control")}}
                                                    <option>{{form.rang.label}}</option>
                                                    <option>Локальный</option>
                                                    <option>Региональный</option>
                                                    <option>Национальный</option>
                                                </select>
                                            </div>

                                            <!-- <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Файл договора</label> 
                                                    <div class="custom-file">
                                                      <input type="file" class="custom-file-input" name="image" id="image">
                                                      <label class="custom-file-label" for="image">Выберите файл договора...</label>
                                                    </div>
                                                  </div>
                                                </div> -->

                                        </div>

                                        <!-- <div class="form-group row">

                                            <div class="col-lg-4">
                                                <div class="custom-control custom-switch switch-primary">
                                                    <input type="checkbox" name='status'class="custom-control-input" id="status" checked>
                                                    <label class="custom-control-label" for="customSwitchPrimary">Активный</label>
                                                </div>
                                            </div> -->
                                            
                                            
                                        <!-- </div>--> 

                                        

                                    
                                </div><!--end card-body-->
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-xl">{{ form.submit }}</button>
                        </form>
                                    </div>

    </div><!-- container -->
{% endblock %}
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

</html>