{% extends 'base.html'%}


{% block title %} {{ title }} {% endblock %}

{% block body %}   
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Список всех лекторов</h4>
                            
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">Jan 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-primary">
                                <i data-feather="download" class="align-self-center icon-xs"></i>
                            </a>
                        </div><!--end col-->  
                    </div><!--end row-->                                                              
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buttons example</h4>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dt-buttons btn-group flex-wrap"> 
                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button"><span>Copy</span></button> 
                            <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button"><span>Excel</span></button>
                            <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button"><span>PDF</span></button> 
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="datatable-buttons_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable-buttons"></label>
                        </div>
                    </div>
                </div>

                        
                    </div><!--end card-header-->


                    
                    <div class="card-body">  
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>ФИО</th>
                                    <th>Дата рождения</th>
                                    <th>Телефон</th>
                                    <th>Email</th>
                                    <th>Город</th>
                                    <th>Место работы</th>
                                    <th>Ранг</th>
                                    <th>Действия</th>
                                </tr>
                                </thead>


                            <tbody>
                           
                                                        

                            {% for lector in all_lectors %}
                            <tr>
                                <td><a href="/all-lectors/{{ lector.lecturer_id }}">{{lector.surname}}  {{lector.lastname}}  {{lector.middlename}} </a> </td>
                                <td>{{lector.birthday}}</td>
                                <td>{{lector.tel}}></td>
                                <td>{{lector.email}}</td>
                                <td>{{lector.city}}</td>
                                <td>{{lector.work}}</td>
                                <td>{{lector.rang}}</td>
                                <td>                                                       
                                    <a href="/all-lectors/{{ lector.lecturer_id }}" class="mr-2"><i class="las la-pen text-info font-18"></i></a>
                                    <a href="#"><i class="las la-trash-alt text-danger font-18"></i></a>
                                </td>
                            </tr>
                            {% endfor %} 
                            
                            </tbody>
                        </table>    
                        
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="datatable-buttons_previous">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>

                                        <li class="paginate_button page-item active">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>

                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li>

                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                        </li>
                                        
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                        </li>
                                        
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                        </li>
                                        
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                        </li>
                                        
                                        <li class="paginate_button page-item next" id="datatable-buttons_next">
                                            <a href="#" aria-controls="datatable-buttons" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>


                    
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
             
        
        

    </div><!-- container -->
   {% endblock %}
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->
   
        
        
  

</html>